################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/waf-azure-templates/v15
/.vs/slnx.sqlite
/.vs/tasks.vs.json
/.vs/VSWorkspaceState.json
/ARMTemplates/contrib/azuredeploy.json
/ARMTemplates/contrib/README.md
